{{#>container centered='true'}}
    {{#>paper}}
     <form class="sign-up-form">
        {{> typography class="typography-1" content="Регистрация"}}
        {{> textfield label="Почта" type="text" value="pochta@yandex.ru" name='email'}}
        {{> textfield label="Логин" type="text" value="ivanivanov" name='login'}}
        {{> textfield label="Имя" type="text" value="Иван" name='first_name'}}
        {{> textfield label="Фамилия" type="text" value="Иванов" name='second_name'}}
        {{> textfield label="Телефон" type="text" value="+7 (909) 967 30 30" name='phone' }}
        {{> textfield label="Пароль" type="password" value="ivanivanov" name='password'}}
        {{> textfield label="Пароль (еще раз)" type="password" value="ivanivanov" name='password'}}
        {{> button class='contained-button'  onclick="navigate('/chat')"  content="Зарегистрироваться"}}
        {{> link onclick="navigate('/sign-in')" content="Войти"}}
     </form>
    {{/paper}}
{{/container}}
