{{#>container }}
    <div class="profile">
        {{> buttonGoBack onclick="navigate('/profile')" }}        
        <div class="profile__info">
            <div class="profile__info-content">
                <div class="profile__info_photo">
                    {{> avatarLarge }}        
                </div>
                <p class="profile__info_firstname">Иван</p>
                <div class="profile__info-rows">
                    {{> infoRow input='true' first="Старый пароль" second="1923913" name='oldPassword' type='password' }}        
                    {{> divider horizontal='true'}}
                    {{> infoRow input='true' first="Новый пароль" second="1923913" name='newPassword' type='password'  }}        
                    {{> divider horizontal='true'}}  
                    {{> infoRow input='true' first="Повторите новый пароль" second="1923913" name='newPassword' type='password'  }}                
                </div>
                {{> button onclick="navigate('/profile')" class='contained-button' content="Сохранить"}}
            </div>
        </div>
    </div>
{{/container}}
