<div class='container chat'>
    <div class='chat__sidebar'>
        <div class='chat__sidebar'>
            <div class='chat__sidebar__search-block'>
                <span class='chat__sidebar__search-block__profile'>
                    Профиль >
                </span>
                <input class='chat__sidebar__search-block__input' type='text' placeholder='Поиск' />
            </div>
            <div class='contacts-list'>
                <div class='contacts-list_item'></div>
            </div>
        </div>
    </div>
    <div class='chat__messages'></div>
</div>