.typography-1 {
    color: $color_black;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}
.typography-2 {
    font-weight: 500;
    font-size: 15px;
    color: $color_black;
}
.typography-centered {
    text-align: center;
}
.typography-title {
    font-weight: 500;
    font-size: 40px;
}
