<div class='container container-content-centered'>
    <div class='paper'>
          <p class="typography-centered typography-1 sign-in-form__title">Регистрация</p>
          <div class="sign-up-form__input">
            {{> textfield label="Почта" type="text" value="pochta@yandex.ru"}}
          </div>
           <div class="sign-up-form__input">
            {{> textfield label="Логин" type="text" value="ivanivanov"}}
          </div>
          <div class="sign-up-form__input">
            {{> textfield label="Имя" type="text" value="Иван"}}
          </div>
           <div class="sign-up-form__input">
            {{> textfield label="Фамилия" type="text" value="Иванов"}}
          </div>
            <div class="sign-up-form__input">
            {{> textfield label="Телефон" type="text" value="+7 (909) 967 30 30"}}
          </div>
          <div class="sign-up-form__input">
            {{> textfield label="Пароль" type="password" value="ivanivanov"}}
          </div>
           <div class="sign-up-form__input-last">
            {{> textfield label="Пароль (еще раз)" type="password" value="ivanivanov"}}
          </div>
           <div class="sign-in-form__button">
            {{> button class='contained-button'  onclick="goToPage('chat')"  content="Зарегистрироваться"}}
          </div>
          <div class="typography-centered">
             {{> link onclick="goToPage('signIn')" content="Войти"}}
          </div>
    </div>
</div>