{{> navbar}}
{{#>container centered='true'}}
    <div class="error-content">
        <div>
            {{> typography class="typography-title" content="500"}}
            {{> typography class="typography-1" content="Мы уже фиксим"}}
        </div>
        {{> button onclick="navigate('/chat')" class='text-button' content="Назад к чатам"}}
    </div>
{{/container}}
