.contacts-list_item {
    padding: 0px 10px;
    &_inner {
        margin-top: 12px;
        padding-bottom: 12px;
        display: flex;
        justify-content: space-between;
    }
    &__left-block {
        display: flex;
    }
    &__middle-block {
        margin-left: 10px;
    }
    &__right-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    &_fistname {
        font-size: 13px;
        margin-bottom: 4px;
    }
    &_last-message {
        font-size: 12px;
        color: $color_grey;
    }
    &_time {
        font-size: 9px;
        color: $color_grey;
    }
    &_message-count {
        background: $color_primary;
        padding: 4px;
        border-radius: 50%;
        font-size: 11px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 20px;
        height: 20px;
    }
    &:hover {
        background: #e4edfd;
    }
}
