<div class='contacts-list_item'>
    {{> divider horizontal='true'}}
    <div class='contacts-list_item_inner'>
        <div class="contacts-list_item__left-block">
            {{> avatar}}
            <div class="contacts-list_item__middle-block">
                <p class="contacts-list_item_fistname">Андрей</p>
                <p class="contacts-list_item_last-message">Изображение</p>
            </div>
        </div>
        <div class="contacts-list_item__right-block">
            <p class="contacts-list_item_time">10:49</p>
            <p class="contacts-list_item_message-count">4</p>
        </div>
    </div>
</div>