{{#if fromMe}}
    <div class='message-from-me-container'>
        <div class='message-from-me'>{{content}}</div>
    </div>
{{else}}
    <div class='message-from-friend-container'>
        <div class='message-from-friend'>{{content}}</div>
    </div>
{{/if}}